# Byte-compiled / optimized / DLL files
pyvenv.cfg
venv
__pycache__

# Mac stuff
.DS_Store

# Frame generated videos
**/*nite_video/*

# For the moment the notebooks are just meant for local experiments
**/*.ipynb

# SQLite database
nite.db
