<!doctype html>
<html lang="en">
<head>
    <title>Edit Image</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
      .option {
          background-color: peachpuff;
          color: black;
          border-radius: 20px;
          padding: 10px 20px;
          text-align: center;
          margin: 5px;
          cursor: pointer;
          transition: all 0.3s ease;
      }
      .option.selected {
          background-color: purple;
          color: white;
      }
  </style>
</head>
<body>
    <div class="container">
        <h1 id="filename" class="text-center my-4">File Name</h1>
        <div class="row">
            <div class="col">
                <div class="option" onclick="this.classList.toggle('selected')">MIDI 1</div>
                <div class="option" onclick="this.classList.toggle('selected')">MIDI 2</div>
                <div class="option" onclick="this.classList.toggle('selected')">MIDI 3</div>
                <div class="option" onclick="this.classList.toggle('selected')">MIDI 4</div>
            </div>
            <div class="col-6 text-center">
                <img id="image" src="path_to_your_image" alt="Image to edit" class="img-fluid">
            </div>
            <div class="col">
                <div class="option" onclick="this.classList.toggle('selected')">Shape</div>
                <div class="option" onclick="this.classList.toggle('selected')">Color</div>
                <div class="option" onclick="this.classList.toggle('selected')">Position</div>
                <div class="option" onclick="this.classList.toggle('selected')">Translate XYZ</div>
                <div class="option" onclick="this.classList.toggle('selected')">Rotate XYZ</div>
                <div class="option" onclick="this.classList.toggle('selected')">Particle color</div>
                <div class="option" onclick="this.classList.toggle('selected')">Particle Kill</div>
                <div class="option" onclick="this.classList.toggle('selected')">Number of Particles</div>
                <div class="option" onclick="this.classList.toggle('selected')">Orbit</div>
                <div class="option" onclick="this.classList.toggle('selected')">Velocity</div>
            </div>
        </div>
    </div>
</body>
</html>